.detalle-activos-usuario{
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.detalle-activos-usuario h2{
    margin-bottom: 25px;
}

.activo-info-imagen{
    display: flex;
    align-items: center;
    gap: 20px;
}

.activo-info-imagen img{
    width: 130px;
    height: 100px;
}
