.container-detalles{
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.activo-detalle h1{
    color: var(--color-1);
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
}

.especificaciones{
    display: flex;
    flex-direction: column;
}

.especificaciones h1{
    color: var(--color-1);
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
}

.detalle{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.especificaciones a{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--color-2);
    color: var(--color-6);
    text-align: center;
    text-decoration: none;
}