@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root{
 --color-1: #ffcd57; 
 --color-2: #94654c; /* Fondo del Header */
 --color-3: #160012;
 --color-4: #ffab07; /* Color de texto del enlace normal */
 --color-5: #e83535;
 --color-6: #FFFFFF; /* Color de subrayado/resalte */
 --color-7: #e1e1e1;
}

/* --- REGLAS GLOBALES --- */
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Parkinsans", sans-serif;
}

body{
    min-height: 200vh; 
}

header{
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;    
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out; 
}

.header-inteligente.hidden {
    transform: translateY(-100%); 
}

.header-inteligente.visible {
    transform: translateY(0); 
}

nav{
 width: 100%;
}

ul{
 height: 70px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 list-style: none;
}

li{
    padding: 8px 10px;
}

.header-link{
    padding: 5px 10px;
    font-size: 14px;
    color: var(--color-4);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
}

.header-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; 
    background-color: var(--color-2);
    transition: height 0.6s ease; 
    z-index: -1;
    border-radius: 10px;
}

.header-link:hover::after{
    height: 100%; 
}

.logo{
    text-align: center;
}

.logo img{
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.bievenido{
    width: 100%;
    height: 100vh;
    position: relative;
}

.bienvenido-img {
    background-image: url('../images/logo.png');
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    width: 100%;                     
    height: 100vh;
}

.bienvenido-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    z-index: 2;
    padding: 10px 8px;
    color: var(--color-6);
}

.bienvenido-text span{
    font-size: 15px;
}

.bienvenido-text span h1{
    font-weight: 900;
    font-size: 50px;
    font-style: italic;
}

.bienvenido-text span h1 span{
    color: var(--color-5);
    font-size: 60px;
}

.bienvenido-text p{
    color: var(--color-7);
    line-height: 20px;
    text-align: justify;
}

.nosotros{
    width: 100%;
    height: 100vh;   
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content-nosotros{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;
}

.nosotros-img{
    width: 400px;
    height: 500px;
    position: relative;
    box-shadow:  0 0 5px 5px var(--color-7);
}

.nosotros-img img{
    object-fit: contain;
    position: absolute;
    width: 800px;
    height: 100%;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.nosotros-text{
    padding-left: 100px;
    width: 600px;
    height: 500px;
    z-index: 2;
}

.btns{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.btns button{
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background-color: var(--color-6);
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.click{
    color: var(--color-5);
    font-weight: 700;
    position: relative;
    transition: all 1s ease-in-out;
}

.click::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 1px;
    background-color: var(--color-5);
}

.text-btn h2{
    text-transform: uppercase;
    color: var(--color-5);
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 48px;
}

.text-btn p{
    text-align: justify;
    color: var(--color-3);
    line-height: 25px;
}

.formulario-registro{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-6);
}

.forms-box{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 500px;
    background-color: var(--color-6);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 10px;
}


.login-usuario,
.registro-usuario{
    flex: 0 0 50%;
    margin: auto;
    text-align: center;
}

.login-usuario form,
.registro-usuario form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin: 20px;
}

.login-usuario h2,
.registro-usuario h2{
    color: var(--color-3);
    text-transform: uppercase;
    font-size: 35px;
}

.login-usuario form input,
.registro-usuario form input{
    padding: 8px 10px;
    outline: none;
    letter-spacing: 0px;
    font-weight: 500;
    background-color: var(--color-6);
    color: var(--color-3);
    border: 1px solid var(--color-7);
}

.login-usuario form button,
.registro-usuario form button{
    padding: 10px;
    color: var(--color-6);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-4);
    border: none;
    margin: 20px 0;
}