.usuarios-activo{
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.usuarios-activo h2{
    margin-bottom: 25px;
}

.usuarios{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 15px;
}

.datos-usuario{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: var(--color-2);
}

.id-usuario{
    flex: 0 0 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-6);
    background-color: var(--color-1);
    font-size: 30px;
    font-weight: 900;
}

.info-usuario{
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-7);
    padding-left: 20px ;
    font-weight: 500;
}