.usuarios-activo{
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.usuarios-activo h2{
    margin-bottom: 25px;
}

.usuarios{
    display: flex;
    align-items: center;
}

.datos-usuario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}