.usuarios-activo{
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.usuarios-activo h2{
    margin-bottom: 25px;
}

.usuarios{
    display: flex;
    justify-content: center;
    align-items: center;
}