@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Elms Sans", sans-serif;
  --amarillo : #F5DA27;
  --blanco  : #FFF;
}

body{
  max-width: 100%;
  max-height: 100vh;
}

.titulo{
  font-size: 25px;
  text-transform: uppercases;
}

.table{
  width: 100%;
  text-align: center;
}

.table > thead{
  background-color: var(--amarillo);
}

.table > thead > th{
  padding: 5px 10px;
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
}